---
import About from "../components/about/About.astro";
import Contact from "../components/contact/Contact.astro";
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";
import Home from "../components/home/Home.astro";
import Personals from "../components/personals/Personals.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <Header />

  <main>
    <Home />
    <About />
    <Personals />
    <Contact />
  </main>

  <Footer />
</Layout>
