---
import Header from "../components/header/Header.astro";
import Hero from "../components/hero/Hero.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <Header />
  <main>
    <Hero />
  </main>
</Layout>
