---

---

<section id="contato" class="py-20 md:py-32 bg-gray-900">
  <div class="container mx-auto px-4 text-center">
    <h2 class="text-4xl md:text-5xl font-bold mb-4">VENHA TREINAR CONOSCO!</h2>
    <p class="text-xl text-gray-300 mb-12 max-w-2xl mx-auto">
      Estamos prontos para te receber. Entre em contato ou venha nos fazer uma
      visita.
    </p>

    <div
      class="flex flex-col md:flex-row justify-center items-center gap-8 md:gap-12 mb-12"
    >
      <a
        href="https://www.instagram.com/straal.fit/"
        target="_blank"
        class="flex items-center gap-4 text-2xl text-white hover:text-yellow-400 transition-colors group"
      >
        <i
          class="fab fa-instagram text-4xl group-hover:scale-110 transition-transform"
        ></i>
        <span class="font-semibold">@straal.fit</span>
      </a>

      <a
        href="https://wa.me/+5546999875794"
        target="_blank"
        class="flex items-center gap-4 text-2xl text-white hover:text-yellow-400 transition-colors group"
      >
        <i
          class="fab fa-whatsapp text-4xl group-hover:scale-110 transition-transform"
        ></i>
        <span class="font-semibold">(46) 99987-5794</span>
      </a>

      <div class="flex items-center gap-4 text-2xl text-white">
        <i class="fas fa-map-marker-alt text-4xl"></i>
        <span class="font-semibold"
          >Rua Iguaçu, n° 872- Centro - Coronel Vivida</span
        >
      </div>
    </div>

    <div class="w-full max-w-4xl h-80 mx-auto bg-gray-800 rounded-lg">
      <iframe
        class="w-full h-full rounded-lg shadow-lg border border-purple-500"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3586.542363437423!2d-52.5683769!3d-25.9830451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94eff95ac8d0371b%3A0xc07430a57bbca507!2sAcademia%20Straal%20Fit!5e0!3m2!1spt-BR!2sbr!4v1754060359978!5m2!1spt-BR!2sbr"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
